{{> "layouts/single.hbs"}}
{{#*inline "main-block"}}



<section id="about" class="pt-[120px]">
    <div class="container">
        <div class="flex flex-wrap mx-[-16px]">
            <div class="w-full px-4">
                <div class="mx-auto max-w-[570px] text-center mb-[100px] wow fadeInUp  text-center">
                    <h2 class="text-black dark:text-white font-bold text-3xl sm:text-4xl md:text-[45px] mb-4">A quick
                        start</h2>
                    <p class="text-body-color text-base md:text-lg leading-relaxed md:leading-relaxed">
                        Set up automated email sequences with Unique Mailer
                    </p>
                </div>
            </div>
        </div>
        <div class="pb-[100px] border-b border-white border-opacity-[.15]">
            <div class="flex flex-wrap items-center mx-[-16px]">
                <div class="w-full lg:w-1/2 px-4">
                    <div class="mb-12 lg:mb-0 max-w-[570px] wow fadeInUp">
                        <h2
                            class="text-black dark:text-white font-bold text-3xl sm:text-4xl md:text-[45px] lg:text-4xl xl:text-[45px] leading-tight sm:leading-tight md:leading-tight lg:leading-tight xl:leading-tight mb-6">
                            Guide for new companies
                        </h2>
                        <p
                            class="font-medium text-body-color text-base sm:text-lg leading-relaxed sm:leading-relaxed mb-11">
                            Manage your contacts, forms and email templates in one application
                        </p>
                        <div class="flex flex-wrap mx-[-12px]">
                            <div class="w-full sm:w-1/2 lg:w-full xl:w-1/2 px-3">
                                <p class="flex items-center text-body-color text-lg font-medium mb-5">
                                    <span
                                        class="w-[30px] h-[30px] flex items-center justify-center rounded-md bg-primary bg-opacity-10 text-primary mr-4">
                                        <svg width="16" height="13" viewBox="0 0 16 13" class="fill-current">
                                            <path
                                                d="M5.8535 12.6631C5.65824 12.8584 5.34166 12.8584 5.1464 12.6631L0.678505 8.1952C0.483242 7.99994 0.483242 7.68336 0.678505 7.4881L2.32921 5.83739C2.52467 5.64193 2.84166 5.64216 3.03684 5.83791L5.14622 7.95354C5.34147 8.14936 5.65859 8.14952 5.85403 7.95388L13.3797 0.420561C13.575 0.22513 13.8917 0.225051 14.087 0.420383L15.7381 2.07143C15.9333 2.26669 15.9333 2.58327 15.7381 2.77854L5.8535 12.6631Z" />
                                        </svg>
                                    </span>
                                    Manage contact and groups
                                </p>
                                <p class="flex items-center text-body-color text-lg font-medium mb-5">
                                    <span
                                        class="w-[30px] h-[30px] flex items-center justify-center rounded-md bg-primary bg-opacity-10 text-primary mr-4">
                                        <svg width="16" height="13" viewBox="0 0 16 13" class="fill-current">
                                            <path
                                                d="M5.8535 12.6631C5.65824 12.8584 5.34166 12.8584 5.1464 12.6631L0.678505 8.1952C0.483242 7.99994 0.483242 7.68336 0.678505 7.4881L2.32921 5.83739C2.52467 5.64193 2.84166 5.64216 3.03684 5.83791L5.14622 7.95354C5.34147 8.14936 5.65859 8.14952 5.85403 7.95388L13.3797 0.420561C13.575 0.22513 13.8917 0.225051 14.087 0.420383L15.7381 2.07143C15.9333 2.26669 15.9333 2.58327 15.7381 2.77854L5.8535 12.6631Z" />
                                        </svg>
                                    </span>
                                    No code required
                                </p>
                                <p class="flex items-center text-body-color text-lg font-medium mb-5">
                                    <span
                                        class="w-[30px] h-[30px] flex items-center justify-center rounded-md bg-primary bg-opacity-10 text-primary mr-4">
                                        <svg width="16" height="13" viewBox="0 0 16 13" class="fill-current">
                                            <path
                                                d="M5.8535 12.6631C5.65824 12.8584 5.34166 12.8584 5.1464 12.6631L0.678505 8.1952C0.483242 7.99994 0.483242 7.68336 0.678505 7.4881L2.32921 5.83739C2.52467 5.64193 2.84166 5.64216 3.03684 5.83791L5.14622 7.95354C5.34147 8.14936 5.65859 8.14952 5.85403 7.95388L13.3797 0.420561C13.575 0.22513 13.8917 0.225051 14.087 0.420383L15.7381 2.07143C15.9333 2.26669 15.9333 2.58327 15.7381 2.77854L5.8535 12.6631Z" />
                                        </svg>
                                    </span>
                                    Manage emails templates
                                </p>
                            </div>
                            <div class="w-full sm:w-1/2 lg:w-full xl:w-1/2 px-3">
                                <p class="flex items-center text-body-color text-lg font-medium mb-5">
                                    <span
                                        class="w-[30px] h-[30px] flex items-center justify-center rounded-md bg-primary bg-opacity-10 text-primary mr-4">
                                        <svg width="16" height="13" viewBox="0 0 16 13" class="fill-current">
                                            <path
                                                d="M5.8535 12.6631C5.65824 12.8584 5.34166 12.8584 5.1464 12.6631L0.678505 8.1952C0.483242 7.99994 0.483242 7.68336 0.678505 7.4881L2.32921 5.83739C2.52467 5.64193 2.84166 5.64216 3.03684 5.83791L5.14622 7.95354C5.34147 8.14936 5.65859 8.14952 5.85403 7.95388L13.3797 0.420561C13.575 0.22513 13.8917 0.225051 14.087 0.420383L15.7381 2.07143C15.9333 2.26669 15.9333 2.58327 15.7381 2.77854L5.8535 12.6631Z" />
                                        </svg>
                                    </span>
                                    Audit all email and api calls
                                </p>
                                <p class="flex items-center text-body-color text-lg font-medium mb-5">
                                    <span
                                        class="w-[30px] h-[30px] flex items-center justify-center rounded-md bg-primary bg-opacity-10 text-primary mr-4">
                                        <svg width="16" height="13" viewBox="0 0 16 13" class="fill-current">
                                            <path
                                                d="M5.8535 12.6631C5.65824 12.8584 5.34166 12.8584 5.1464 12.6631L0.678505 8.1952C0.483242 7.99994 0.483242 7.68336 0.678505 7.4881L2.32921 5.83739C2.52467 5.64193 2.84166 5.64216 3.03684 5.83791L5.14622 7.95354C5.34147 8.14936 5.65859 8.14952 5.85403 7.95388L13.3797 0.420561C13.575 0.22513 13.8917 0.225051 14.087 0.420383L15.7381 2.07143C15.9333 2.26669 15.9333 2.58327 15.7381 2.77854L5.8535 12.6631Z" />
                                        </svg>
                                    </span>
                                    Rich documentation
                                </p>
                                <p class="flex items-center text-body-color text-lg font-medium mb-5">
                                    <span
                                        class="w-[30px] h-[30px] flex items-center justify-center rounded-md bg-primary bg-opacity-10 text-primary mr-4">
                                        <svg width="16" height="13" viewBox="0 0 16 13" class="fill-current">
                                            <path
                                                d="M5.8535 12.6631C5.65824 12.8584 5.34166 12.8584 5.1464 12.6631L0.678505 8.1952C0.483242 7.99994 0.483242 7.68336 0.678505 7.4881L2.32921 5.83739C2.52467 5.64193 2.84166 5.64216 3.03684 5.83791L5.14622 7.95354C5.34147 8.14936 5.65859 8.14952 5.85403 7.95388L13.3797 0.420561C13.575 0.22513 13.8917 0.225051 14.087 0.420383L15.7381 2.07143C15.9333 2.26669 15.9333 2.58327 15.7381 2.77854L5.8535 12.6631Z" />
                                        </svg>
                                    </span>
                                    Developer friendly
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full lg:w-1/2">
                    <div class="text-center lg:text-right wow fadeInUp">
                        <img src="/assets/images/managing-contact.jpg" alt="Managing contact"
                            class="max-w-full mx-auto lg:mr-0" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="pt-[10px] pb-[120px]">
    <div class="container">

<div class="flex flex-wrap mx-[-16px]">
    <div class="w-full px-4">
        <div class="mx-auto max-w-[570px] text-center mb-[100px] wow fadeInUp  text-center">
            <h2 class="text-black dark:text-white font-bold text-3xl sm:text-4xl md:text-[45px] mb-4">Auditing the
                actions</h2>
            <p class="text-body-color text-base md:text-lg leading-relaxed md:leading-relaxed">
                Set up automated email sequences with Unique Mailer
            </p>
        </div>
    </div>
</div>

        <div class="flex flex-wrap items-center mx-[-16px]">
            <div class="w-full lg:w-1/2 px-4">
                <div class="text-center lg:text-left mb-12 lg:mb-0 wow fadeInUp">
                    <img src="/assets/images/api-email-logs.jpg" alt="Api management"
                        class="max-w-full mx-auto lg:ml-0" />
                </div>
            </div>
            <div class="w-full lg:w-1/2 px-4">
                <div class="max-w-[470px] wow fadeInUp" data-wow-delay=".2s">
                    <div class="mb-9">
                        <h3
                            class="font-bold text-black dark:text-white text-xl sm:text-2xl lg:text-xl xl:text-2xl mb-4">
                            Built-in auditing management</h3>
                        <p class="text-body-color text-base sm:text-lg leading-relaxed sm:leading-relaxed font-medium">
                            Our software monitors your email activity, providing a comprehensive record of all sent
                            emails.
                        </p>
                    </div>
                    <div class="mb-9">
                        <h3
                            class="font-bold text-black dark:text-white text-xl sm:text-2xl lg:text-xl xl:text-2xl mb-4">
                            API Call Logging</h3>
                        <p class="text-body-color text-base sm:text-lg leading-relaxed sm:leading-relaxed font-medium">
                            Every interaction with the software's functionalities is meticulously recorded. This log
                            provides valuable information for:
                            <br><br>
                            - Troubleshooting technical issues and identifying potential errors. <br>
                            - Monitoring overall system usage and user activity.<br>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>



<section id="about2" class="pt-[10px]">
    <div class="container">
        <div class="pb-[100px] border-b border-white border-opacity-[.15]">
            <div class="flex flex-wrap items-center mx-[-16px]">
                <div class="w-full lg:w-1/2 px-4">
                    <div class="mb-12 lg:mb-0 max-w-[570px] wow fadeInUp">
                        <h2
                            class="text-black dark:text-white font-bold text-3xl sm:text-4xl md:text-[45px] lg:text-4xl xl:text-[45px] leading-tight sm:leading-tight md:leading-tight lg:leading-tight xl:leading-tight mb-6">
                            Forms and emails as a service oriented
                        </h2>
                        <p
                            class="font-medium text-body-color text-base sm:text-lg leading-relaxed sm:leading-relaxed mb-11">
                            Empower your web forms, apllications and monitoring tools with robust email functionalities.
                            Eliminate the need for separate email clients or complex configurations. Start using a
                            centralized email communication.
                        </p>
                        <p
                            class="font-medium text-body-color text-base sm:text-lg leading-relaxed sm:leading-relaxed mb-11">
                            - Integration: Simple API integration for client software. <br>
                            - Centralized Communication: Emails are sent through your secure infrastructure.<br>
                            - User Experience: Convenient email sending directly from client software.<br>
                        </p>
                    </div>
                </div>
                <div class="w-full lg:w-1/2 px-4">
                    <div class="text-center lg:text-right wow fadeInUp" data-wow-delay=".2s">
                        <img src="/assets/images/create-forms.jpg" alt="Managing contact"
                            class="max-w-full mx-auto lg:mr-0" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{{/inline}}