{{> "layouts/single.hbs"}} 

{{#*inline "main-block"}}
<section class="pb-8 pt-20 dark:bg-dark lg:pb-[70px] md:pt-[130px] lg:pt-[160px]">
    <div class="container mx-auto px-4">
        <div class="-mx-4 flex flex-wrap">

            <div class="w-full mb-12 px-4 md:w-2/2 lg:w-3/3">

                <h3 class="text-lg">Legal Notices</h3>

<p class="mb-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tristique lorem non eleifend blandit. Nullam sapien libero, malesuada id elit sed, accumsan laoreet velit. Nunc volutpat, elit non laoreet dapibus, justo ligula consectetur est, vel sodales sapien elit non lorem. Suspendisse vitae auctor felis. Aliquam sagittis in eros in ultrices. Duis dapibus felis id elit feugiat molestie. Sed maximus orci vitae metus lacinia, sit amet convallis magna pharetra. Etiam non molestie est, id lacinia ligula. Praesent gravida ipsum a porttitor pulvinar. Curabitur lacinia, sapien sed dignissim congue, libero dui finibus arcu, vel molestie enim diam quis lectus.</p>

<p class="mb-10">Suspendisse eget metus sed metus tristique laoreet nec vel velit. Sed fringilla tortor sed urna faucibus, in suscipit ex euismod. Sed at tortor eu neque pellentesque gravida sed eget purus. Etiam in velit massa. Maecenas metus lacus, fringilla sed lacus at, sodales varius justo. Donec vestibulum odio et ante imperdiet dictum. Proin semper aliquet porta. Fusce odio leo, dapibus non odio ac, interdum convallis eros. Praesent congue tempus interdum. Aenean placerat diam ac leo vehicula varius. Maecenas non sem faucibus, fermentum lacus vitae, scelerisque diam. Curabitur nec fermentum dui, sit amet pulvinar neque. Donec quis dui volutpat, aliquet tellus sit amet, hendrerit dui. Duis hendrerit feugiat porttitor.</p>

<p class="mb-10">Aliquam sed fringilla velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur ipsum justo, vehicula at ultricies nec, dictum nec magna. Nam at tellus semper, dapibus est vel, malesuada dolor. Donec lobortis erat et diam ultricies, non eleifend metus pharetra. Sed a ex commodo justo porta pellentesque. Pellentesque feugiat eros a auctor sollicitudin. Pellentesque sed diam leo. Integer ultricies turpis in dapibus convallis. Sed a ex lacinia diam aliquam tempus. Aliquam blandit enim velit, a malesuada dolor ornare varius. Vivamus vulputate orci id lorem rutrum efficitur in id est. Curabitur bibendum odio dui, quis commodo neque varius ut. Nam vitae nisl sed lorem tempor consequat. Quisque non ipsum arcu.</p>

<p class="mb-10">Sed vehicula urna et nibh bibendum posuere. Phasellus sit amet maximus nisi. Nulla at dolor auctor, commodo augue vel, mollis nibh. Vestibulum eget sapien euismod, placerat diam vitae, faucibus est. In blandit nunc vitae accumsan mattis. Pellentesque tortor ipsum, commodo sed dui vel, sagittis sollicitudin orci. Suspendisse mi orci, cursus et risus nec, euismod dignissim magna. Quisque commodo ullamcorper justo, sed molestie leo tempus eu. Quisque auctor dolor lobortis mauris interdum euismod. Nam congue, quam luctus eleifend ullamcorper, nisi turpis viverra libero, ut iaculis lorem nunc sit amet leo.</p>


            </div>
        </div>
    </div>
</section>

{{/inline}}