<!-- ====== Footer Section Start -->
<footer class="relative z-10 bg-primary pt-20 lg:pt-[10px]">

  <div class="border-t border-primary border-opacity-40 py-8 lg:mt-[20px]">
    <div class="container">
      <div class="-mx-4 flex flex-wrap">
        <div class="w-full px-4 md:w-2/3 lg:w-1/2">
          <div class="my-1">
            <div
              class="-mx-3 flex items-center justify-center md:justify-start"
            >
              <a
                href="javascript:void(0)"
                class="px-3 text-base text-gray-7 hover:text-white hover:underline"
              >
                Privacy policy
              </a>
              <a
                href="javascript:void(0)"
                class="px-3 text-base text-gray-7 hover:text-white hover:underline"
              >
                Legal notice
              </a>
              <a
                href="javascript:void(0)"
                class="px-3 text-base text-gray-7 hover:text-white hover:underline"
              >
                Terms of service
              </a>
            </div>
          </div>
        </div>
        <div class="w-full px-4 md:w-1/3 lg:w-1/2">
          <div class="my-1 flex justify-center md:justify-end">
            <p class="text-base text-gray-7">
              Designed and Developed by
              <a
                href="https://tailgrids.com"
                rel="nofollow noopner"
                target="_blank"
                class="text-gray-1 hover:underline"
              >
                TailGrids and UIdeck
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- ====== Footer Section End -->